.every-weeks-control {
    background-color: transparent;
    color: var(--text-secondary);
    border: none;
    text-align: center;
}

    .every-weeks-control input[type=number] {
        background-color: var(--bg-secondary);
        color: var(--text-secondary);
        border: none;
        border: 0.5px solid transparent;
        height: 2.5em;
        width: 2.5em;
        line-height: 2.5em;
        text-align: center;
        margin: 0 0.5em;
        border-radius: 0;
        transition: all 0.2s ease;
    }

#focusableInput:focus {
    outline: none;
    background-color: var(--text-primary);
    border-color: var(--bg-third);
    color: var(--text-secondary);
    box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

    #customStatus {
        display: flex;
    }

.weekdayCheckbox span {
    display: inline-block;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    cursor: pointer;
    padding-top: 0.5625rem;
}

.weekdayCheckbox :checked + span {
    background-color: var(--bg-third);
    color: var(--bg-secondary);
}


#submitRecurring {
    text-align: right;
    margin-top: 0.9375rem;
}

input.btn-outline-info {
    font-weight: normal;
}

.modalInput:focus {
    box-shadow: none;
}

#customStatusDays {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.statusDayCol {
    align-items: end !important;
}

.howOftenInputAndValidation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
