
.modal-title {
    font-weight: bold;
}

.btn-close {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.modal-body, .modal-header, .modal-title, .modal-footer {
    background-color: var(--bg-primary);
    color: var(--text-third);
}

.modal-content {
    border: 3px solid var(--bg-primary);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 0;
}

.modal-header {
    border: none;
    border-bottom: 3px solid var(--bg-secondary);
    border-radius: 0;
}

input[type=text].modalInput:disabled, input[type=datetime-local].modalInput:disabled, select.modalInput:disabled {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border-color: transparent;
    margin: 0;
    border-radius: 0;
    height: 3rem;
    font-size: 1.2rem;
}

input[type=datetime-local]:disabled {
    margin: 0;
    width: 100%;
}

.description-textarea:disabled {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    resize: none;
    max-width: 135ch;
    border: 0.5px solid transparent;
    height: 7rem;
}


.category-select {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

  

.form-footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    text-align: right;
    align-items: flex-end;
    height: 3.5rem;
}


div.btn-submit .btn-outline-info {
    font-weight: normal;
}


.control-label {
    font-weight: bold;
    margin: 0.1rem;
}