.p-statCircle {
    height: 12.5em;
    width: 12.5em;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 1em;
    background-color: var(--bg-secondary);
}

    .p-statCircle .circle {
        position: absolute;
        z-index: 6;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        background-color: transparent;
        font-size: 1em;
    }

    .p-statCircle .bar {
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-border-radius: 50%;
        background-color: transparent;
        clip: rect(0px, 12.5em, 12.5em, 6.25em);
        font-size: 1em;
    }

    .p-statCircle .smallerCircle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10.8125em;
        height: 10.8125em;
        margin: -5.41875em 0 0 -5.41875em;
        background-color: var(--bg-secondary);
        z-index: 10;
        -webkit-border-radius: 100%;
        border: 1px solid var(--smallerCircle-color-secondary);
        font-size: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .p-statCircle .circle .bar .progress {
        position: absolute;
        background-color: var(--smallerCircle-color-secondary);
        z-index: 3;
        font-size: 1em;
        width: 6.25em;
        height: 12.5em;
    }

    .p-statCircle .smallerCircle p, .p-statCircle .smallerCircle p small {
        font-size: 1.16875em;
        margin: 0 auto;
    }


.circle .p-left .progress {
    z-index: 4;
    animation: p-left 0.3s linear both;
    border-bottom-left-radius: 9.375em;
    border-top-left-radius: 9.375em;
    transform-origin: right center;
}


.circle .p-right .progress {
    animation: p-right 0.3s linear both;
    animation-delay: 0.3s;
    border-bottom-left-radius: 9.375em;
    border-top-left-radius: 9.375em;
    transform-origin: right center;
}

.circle .p-right {
    z-index: 3;
}

.p-statCircle .smallerCircle p {
    color: var(--text-secondary);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

    .p-statCircle .smallerCircle p.boldHeader {
        font-size: 1.66875em;
        font-weight: bold;
    }

hr {
    border-top: 3px solid var(--hr-primary);
    background-color: transparent;
    z-index: inherit;
    opacity: 1;
}
