body {
    color: var(--text-third);
    background-color: var(--list-bg);
}


span {
    color: lightgray;
    font-size: 0.625rem;
}


.table {
    color: var(--text-third);
    height: 100%;
}

.table .thead {
    background-color: red;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: var(--list-hover);
    color: var(--text-third);
}

.tableContainer {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 6px solid var(--bg-primary);
    border-bottom: 6px solid var(--bg-primary);
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

thead.sticky-top {
    background-color: var(--list-thead);
}


.btn-info {
    background-color: var(--list-btn-bg);
    color: var(--text-third);
    border-color: var(--list-btn-bg);
}

    .btn-info:hover, .btn-info:focus {
        background-color: var(--list-btn-bg-hover);
        border-color: var(--list-btn-bg-hover);
        color: var(--text-third);
    }

.table td.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30ch;
}


#button-column {
    max-width: 8.75rem;
}

.modal-backdrop {
    display: none;
}

.modal-title {
    font-weight: bold;
}

.btn-close {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.modal-body, .modal-header, .modal-title, .modal-footer {
    font-family: 'Roboto';
    background-color: var(--bg-primary);
    color: var(--text-secondary);
}

.modal-body {
    padding: 0;
}

.modal-content, modal-dialog {
    border: 3px solid var(--text-primary);
    border-radius: 5px;
}

.modal-header {
    border: none;
    border-bottom: 3px solid var(--text-secondary);
    border-radius: 0;
}

.modal-body {
    padding: 0.625rem 0 0.625rem 0 !important;
    min-height: calc(0.3*);
}

.btn-succes-color {
    color: var(--bg-primary);
    border-color: var(--btn-succes);
    background-color: var(--btn-succes);
    outline-color: var(--btn-succes);
}

    .btn-succes-color:hover {
        background-color: var(--btn-succes-hover);
        color: var(--text-third);
    }

        
