@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/LayoutCSS/site.css" rel="stylesheet" />
    <link href="~/css/LayoutCSS/Layout.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @RenderSection("Styles", required: false)

    <style>
        
        
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar-side">
        <ul class="navbar-nav-side">
            <li class="goldcapLogo">
                <a asp-action="index" asp-controller="home" class="nav-side-link-logo">
                    <i id="logo-icon" class="fas fa-home fa-primary"></i>
                    <span class="link-text goldcapLogo-text fa-primary">GOLDCAP</span>
                </a>
            </li>

            <li class="nav-side-item">
                <a asp-action="index" asp-controller="dashboard" class="nav-side-link">
                    <i class="fas fa-chart-line fa-primary"></i>
                    <span class="link-text fa-primary">Dashboard</span>
                </a>
            </li>

            <li class="nav-side-item">
                <a asp-action="index" asp-controller="expenses" class="nav-side-link">
                    <i class="fas fa-list fa-primary"></i>
                    <span class="link-text fa-primary">Expenses</span>
                </a>
            </li>

            <li class="nav-side-item">
                <a asp-action="index" asp-controller="categories" class="nav-side-link">
                    <i class="fas fa-list-alt"></i>
                    <span class="link-text fa-primary">Categories</span>
                </a>
            </li>

            <li class="nav-side-item">
                <a asp-action="account" asp-controller="logout" class="nav-side-link">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="link-text fa-primary">Logout</span>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="navbar-top">
        <ul class="navbar-nav-top">
            <li>
                <a>
                    <i id="collapseSideNavbar" class="fas fa-angle-double-left" onclick="collapseSideNavbar()"></i>
                </a>
            </li>
        </ul>
    </nav>
    <main class="mainRender">
        @RenderBody()
        @*<i id="collapseSideNavbar" onclick="hideSideNavbar()" class="fas fa-angle-double-left" style="font-size: 5rem;"></i>*@
    </main>



    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" id="modalDialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title text-center w-100"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>



    @*<div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" id="modalDialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title text-center w-100"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>*@


    
    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/jss/site.js" asp-append-version="true"></script>
    <script src="~/jss/notify.min.js"></script>
    @*<script src="~/lib/font-awesome/js/all.js"></script>*@
    <script>
        function collapseSideNavbar() {
            var sideNavbarSize = document.getElementsByClassName("navbar-side")[0].offsetWidth;
            if (sideNavbarSize > 80) {
                document.getElementById("logo-icon").style.display = "block";
                document.getElementsByClassName("navbar-side")[0].style.width = "5rem";
                document.getElementsByClassName("navbar-top")[0].style.marginLeft = "5rem";
                document.getElementsByTagName("main")[0].style.marginLeft = "5rem";
                document.getElementById("collapseSideNavbar").style.transform = "rotate(180deg)";
                var links = document.getElementsByClassName("link-text");
                for (var i = 0; i < links.length; i++) {
                    links[i].style.display = "none";
                }
                
                showLineChart();
                showPieChart();
            }
            else {
                document.getElementById("logo-icon").style.display = "none";
                document.getElementsByClassName("navbar-side")[0].style.width = "14rem";
                document.getElementsByClassName("navbar-top")[0].style.marginLeft = "14rem";
                document.getElementsByTagName("main")[0].style.marginLeft = "14rem";
                document.getElementById("collapseSideNavbar").style.transform = "rotate(0deg)";
                var links = document.getElementsByClassName("link-text");
                for (var i = 0; i < links.length; i++) {
                    links[i].style.display = "inline";
                }
                
                showLineChart();
                showPieChart();
            }

        }
    </script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }
</body>
</html>

