<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/LayoutCSS/site.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @*<link rel="shortcut icon" href="#">*@
    @*<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />*@
    @RenderSection("Styles", required: false)
    <link href="~/css/LayoutCSS/Layout.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="column side">
        <div class="logo-container">
            <a class="nav-link" id="goldcap-logo" asp-controller="home" asp-action="index">GoldCap</a>
        </div>
        <div>
            <ul class="navUl">
                <li>
                    <a asp-controller="dashboard" asp-action="index">Dashboard</a>
                </li>
                <li>
                    <a asp-controller="expenses" asp-action="index">Expenses</a>
                </li>
                <li>
                    <a asp-controller="categories" asp-action="index">Categories</a>
                </li>
                <li style="border-bottom-style:solid;border-width:thin;border-color:white">
                    <a asp-controller="about" asp-action="index">About</a>
                </li>
                <li id="registerLink">
                    <a asp-controller="account" asp-action="register">Register</a>
                </li>
            </ul>
        </div>
    </div>




    <div class="column main">
        @RenderBody()
    </div>



    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" id="modalDialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title text-center w-100"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>



    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script> ADDED 09.08*@
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/jss/site.js" asp-append-version="true"></script>
    <script src="~/jss/notify.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }
</body>
</html>
