
@{
    ViewData["Title"] = "GoldCap - Not Found";
}


<link href="~/css/LayoutCSS/ErrorPage.css" rel="stylesheet" />

<div class="mainDiv">
    <h1>@ViewBag.ErrorStatusCode</h1>
    <h2>Not Found</h2>
</div>


