@inject SignInManager<ApplicationUser> signInManager;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/css/UserSettingsCSS/UserSettings.css" rel="stylesheet" />
    <link href="~/css/DashboardCSS/Index.css" rel="stylesheet" />
} 

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="mainDiv">
        <div class="general-section">
            <div class="general-split">
                <div class="general-section-side">
                    <div class="profile-img-circle">
                        <img src="~/images/avat.png" />
                    </div>
                    @*<button class="change-img-button">

                    </button>*@
                </div>
                <div class="general-section-side">

                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
