@inject SignInManager<ApplicationUser> signInManager;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/css/UserSettingsCSS/UserSettings.css" rel="stylesheet" />
    <link href="~/css/DashboardCSS/Index.css" rel="stylesheet" />
} 

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="mainDiv">
        <div class="general-section">
            <div class="general-split">
                <div class="general-section-side-left">
                    <div class="profile-img-circle">
                        <a class="btn btn-sm uploadImg">Upload image</a>
                        <img src="~/images/avat.png" />
                    </div>
                </div>
                <div class="general-section-side-right">
                    <div class="account-details">
                        <section class="account-detail">
                            <div class="account-label">
                                <label>
                                    Email
                                </label>
                                <a>
                                    @User.Identity.Name
                                </a>
                            </div>
                            <a class="profile-button">Change</a>
                        </section>
                        <section class="account-detail">
                            <div class="account-label">
                                <label>
                                    Password
                                </label>
                                <a>
                                    ************
                                </a>
                            </div>
                            <a class="profile-button">Change</a>
                        </section>
                        <section class="account-detail">
                            <div class="account-label">
                                <label>
                                    Country
                                </label>
                                <a>
                                    Poland
                                </a>
                            </div>
                            <a class="profile-button">Change</a>
                        </section>
                        <section class="account-detail">
                            <div class="account-label">
                                <label>
                                    Creation Date
                                </label>
                                <a>
                                    @DateTime.Now
                                </a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
