@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/LayoutCSS/site.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link href="~/css/Account/Layout.css" rel="stylesheet" />
    @*<link rel="shortcut icon" href="#">*@
    @RenderSection("Styles", required: false)
    <link href="~/css/LayoutCSS/Layout.css" rel="stylesheet" />
    <style>
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="stripes">
        <div id="stripe1" class="stripe stripe-1"></div>
        <div id="stripe2" class="stripe stripe-2"></div>
        <div id="stripe3" class="stripe stripe-3"></div>
        <div id="stripe4" class="stripe stripe-4"></div>
        <div id="stripe5" class="stripe stripe-5"></div>
        <div id="stripe6" class="stripe stripe-6"></div>
        <div id="stripe7" class="stripe stripe-7"></div>
        <div id="stripe8" class="stripe stripe-8"></div>
    </div>
    <div class="main">
        @RenderBody()
    </div>

    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/jss/site.js" asp-append-version="true"></script>
    <script src="~/jss/notify.min.js"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }
</body>
</html>

<script>
    $(document).ready(function () {
        var colorTheme = sessionStorage.getItem("colorTheme");
        changeColorTheme(colorTheme);
    });
</script>
