@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/LayoutCSS/site.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @*<link rel="shortcut icon" href="#">*@
    @*<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />*@
    @RenderSection("Styles", required: false)
    <link href="~/css/LayoutCSS/Layout.css" rel="stylesheet" />
    <style>
        body {
            background-color: #212529;
            color: #9ba6b0;
        }
        .main {
            height: 100%;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            margin-top: calc(0.06*100%);
            background-color: #212529;
            color: #9ba6b0;
        }
        h1 {
            font-size: 120px;
            font-weight: bold;
            margin-top: calc(0.05*100%);
            padding: 0;
            text-align: center;
        }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>GoldCap</h1>
    <div class="main">
        @RenderBody()
    </div>

    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script> ADDED 09.08*@
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/jss/site.js" asp-append-version="true"></script>
    <script src="~/jss/notify.min.js"></script>
    @*<script src="~/lib/font-awesome/js/all.js"></script>*@
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }
</body>
</html>
