@{
    ViewData["Title"] = "GoldCap";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
    </style>

    <link href="~/css/Account/Index.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="mainForm">
            <h1>GoldCap</h1>
            <p class="loginButton">
                <a class="btn btn-outline-info signInButton" asp-controller="account" asp-action="login">Login in</a>
            </p>
            <p>
                <a class="btn btn-outline-info signInButton" asp-controller="account" asp-action="register">Register</a>
            </p>
            <p>
                <a class="btn btn-outline-info signInButton" asp-controller="account" asp-action="loginGuest">Login in as guest</a>
            </p>
        </div>
</body>
</html>