@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<style>
</style>
<link href="~/css/Account/Login.css" rel="stylesheet" />
<div class="mainForm">
        <h1>GoldCap</h1>
        <form method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="validation-info"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" autocomplete="on"/>
                <span asp-validation-for="Password" class="validation-info"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label asp-for="RememberMe" class="remememberMeLabel">
                        Remember me
                        <input asp-for="RememberMe" class="form-check-input"/>
                    </label>
                </div>
            </div>
            <div class="accountButtons">
                <button type="submit" class="btn btn-outline-info signInButton">Login</button>
                <a class="btn btn-outline-info signInButton" asp-action="register" asp-controller="account">Register</a>
            </div>
            <div asp-validation-summary="All" class="text-info validation-span"></div>
        </form>
</div>

