@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<style>
    .mainForm {
        max-width: 31.25rem;
        min-width: 15.625rem;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 6;
        padding-top: 15%;
    }

    .loginForm {
        position: relative;
        z-index: 5;
        margin: 0 auto;
        text-align: center;
        border: 3px solid var(--bg-third);
        border-radius: 5px;
        padding: 5% 20%;
        background-color: var(--bg-primary);
    }

    h1 {
        font-size: 3.4375rem;
        font-weight: bold;
        color: var(--text-secondary);
    }

    input.form-control, input.form-control:-webkit-autofill, input.form-control:-webkit-autofill:hover, input.form-control:-webkit-autofill:active {
        background-color: var(--bg-navbar);
        color: var(--text-secondary);
        border-color: var(--bg-primary);
        border-radius: 5px;
        -webkit-box-shadow: 0 0 0px 12.5rem var(--bg-navbar) inset;
        -webkit-text-fill-color: var(--text-secondary);
    }

        input.form-control:active, input.form-control:focus, input.form-contro:hover, input.form-control:-webkit-autofill:focus {
            background-color: var(--bg-navbar);
            color: var(--text-secondary);
            border-color: var(--bg-third);
            border-radius: 5px;
            -webkit-box-shadow: 0 0 0px 12.5rem var(--bg-navbar) inset;
            -webkit-text-fill-color: var(--text-secondary);
        }



    .form-group {
        margin: 0.3125rem 0;
    }
    a, button, validation-span {
        margin-top: 0.3125rem;
    }
</style>
<div class="mainForm">
    <div class="loginForm">
        <h1>GoldCap</h1>
        <form method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-info"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-info"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-info"></span>
            </div>
            <a class="btn btn-outline-info" asp-action="login" asp-controller="account">Login</a>
            <button type="submit" class="btn btn-outline-info">Register</button>
            <div asp-validation-summary="All" class="text-info validation-span"></div>
        </form>
    </div>
</div>
