@model RegisterViewModel
@{ 
    ViewData["Title"] = "Register";
}
<div class="col-md-2" style="margin: 10% 0 0 30%;">
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-info"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-info"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-info"></span>
                </div>
                <button style="margin-top:25px;" type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>