@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<style>
</style>
<link href="~/css/Account/Register.css" rel="stylesheet" />
<div class="mainForm">
    <h1>GoldCap</h1>
    <form method="post" class="registerForm">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-info"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-info"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-info"></span>
        </div>
        <div class="accountButtons">
            <a class="btn btn-outline-info signInButton" asp-action="login" asp-controller="account">Login</a>
            <button type="submit" class="btn btn-outline-info signInButton">Register</button>
        </div>
        
        <div asp-validation-summary="All" class="text-info validation-span"></div>
    </form>
</div>
