@model Expense

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<style>
    .modal-title {
        font-weight: bold;
    }

    .btn-close {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    .modal-body, .modal-header, .modal-title, .modal-footer {
        font-family: Arial;
        background-color: #212529;
        color: #9ba6b0;
    }
    .modal-content, modal-dialog {
        border: 3px solid #434d56;
        border-radius: 5px;
    }
    .modal-header {
        border: none;
        border-bottom: 3px solid #434d56;
        border-radius: 0;
    }
    input[type=text]:disabled, input[type=datetime-local]:disabled, select:disabled {
        background-color: #2d3339;
        color: #9ba6b0;
        border-color: #0DCAF0;
        border-radius: 5px;
    }
    textarea:disabled {
        background-color: #2d3339 !important;
        color: #9ba6b0 !important;
        resize: none;
        max-width: 135ch;
        border: 0.5px solid #0DCAF0;
        border-radius: 5px;
    }

    .listButton {
        text-align: right;
    }

</style>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Details" asp-route-id="@Model.Id" autocomplete="off">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input disabled asp-for="Amount" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <input disabled asp-for="Category" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input disabled asp-for="Date" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea disabled asp-for="Description" class="form-control"></textarea>
            </div>

            <div class="listButton">
                <a class="btn btn-outline-info mt-4" asp-controller="Expenses" asp-action="Index">Go to full list</a>
            </div>
        </form>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}