@model Expense

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<link href="~/css/DashboardCSS/detailsModal.css" rel="stylesheet" />
<style>
    
</style>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Details" asp-route-id="@Model.Id" autocomplete="off">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input disabled asp-for="Amount" class="form-control modalInput" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <input disabled asp-for="Category" class="form-control modalInput"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input disabled asp-for="Date" class="form-control modalInput" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea disabled asp-for="Description" class="form-control description-textarea"></textarea>
            </div>

            <div class="form-group form-footer">
                <a class="btn btn-outline-info" asp-controller="Expenses" asp-action="Index">Go to full list</a>
            </div>
        </form>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}