@model Income

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<style>
    .modal-title {
        font-weight: bold;
    }

    .btn-close {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    .modal-body, .modal-header, .modal-title, .modal-footer {
        /*font-family: Arial;*/
        background-color: var(--bg-primary);
        color: var(--text-secondary);
    }

    .modal-content, modal-dialog {
        border: 3px solid var(--text-primary);
        border-radius: 5px;
    }

    .modal-header {
        border: none;
        border-bottom: 3px solid var(--text-primary);
        border-radius: 0;
    }

    input[type=text], input[type=text]:focus, input[type=datetime-local], input[type=datetime-local]:focus, select, select:focus {
        background-color: var(--bg-secondary);
        color: var(--text-secondary);
        border-color: var(--bg-third);
        border-radius: 5px;
    }

    .description-textarea, .description-textarea:focus {
        background-color: var(--bg-secondary);
        color: var(--text-secondary);
        resize: none;
        max-width: 135ch;
        border: 0.5px solid var(--bg-third);
        border-radius: 5px;
    }


    #submitRecurring {
        text-align: right;
        margin-top: 0.9375rem;
    }

    input.btn-outline-info {
        font-weight: normal;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateOrEditIncome" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostDashboard(this, '#tableInModalIncome');" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input id="amountinput" asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input id="dateinput" asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control description-textarea"></textarea>
                <span asp-validation-for="Description"></span>
            </div>

            <div id="submitRecurring" class="form-group">
                <input type="submit" value="Submit" class="btn btn-outline-info" />
            </div>
        </form>
    </div>
</div>


@if (Model.Id == 0)
{
    <script>
    // Date format: 17.07.2021 10:50:20
    @*$("#dateinput").val(@DateTime.Now.ToString("dd/MM/yyyy HH:mm");*@
    $("#amountinput").val("");
    </script>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}