@model ExpenseRecurringViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<style>
    .modal-title {
        font-weight: bold;
    }

    .btn-close {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    .modal-body, .modal-header, .modal-title, .modal-footer {
        font-family: Arial;
        background-color: var(--bg-primary);
        color: var(--text-secondary);
    }

    .modal-content, modal-dialog {
        border: 3px solid var(--text-primary);;
        border-radius: 5px;
    }

    .modal-header {
        border: none;
        border-bottom: 3px solid var(--text-primary);;
        border-radius: 0;
    }

    input[type=text], input[type=text]:focus, input[type=datetime-local], input[type=datetime-local]:focus, select, select:focus {
        background-color: var(--bg-secondary);
        color: var(--text-secondary);
        border-color: var(--bg-third);
        border-radius: 5px;
    }

    .description-textarea, .description-textarea:focus {
        background-color: var(--bg-secondary);
        color: var(--text-secondary);
        resize: none;
        max-width: 135ch;
        border: 0.5px solid var(--bg-third);
        border-radius: 5px;
    }

    .category-select, .category-select:focus {
        background-color: var(--bg-secondary);
        color: var(--text-secondary);
        border: 0.5px solid var(--bg-third);
        border-radius: 5px;
    }

    .recurring-select, .recurring-select:focus {
        background-color: var(--bg-secondary);
        color: var(--text-secondary);
        border: 0.5px solid var(--bg-third);
        border-radius: 5px;
    }

    .every-weeks-control {
        background-color: transparent;
        color: var(--text-secondary);
        border: none;
        margin-bottom: 5px;
    }
        .every-weeks-control input[type=number] {
            background-color: var(--bg-secondary);
            color: var(--text-secondary);
        }
    .weekdayCheckbox span {
        display: inline-block;
        border-radius: 5px;
        background-color: var(--bg-secondary);
        color: var(--text-secondary);
        width: 2em;
        height: 2em;
        text-align: center;
        cursor: pointer;
        padding-top: 0.3125rem;
    }

    .weekdayCheckbox :checked + span {
        background-color: var(--bg-third);
        color: var(--bg-secondary);
    }

    #customStatusDays {
        visibility: hidden;
    }

    #submitRecurring {
        text-align: right;
        margin-top: 0.9375rem;
    }

    input.btn-outline-info {
        font-weight: normal;
    }

</style>
<script type="text/javascript">
    if (document.getElementById("createRecurring")) {
        document.getElementById("modalDialog").classList.remove("modal-lg");
    }
</script>
<div class="row" id="createRecurring">
    <div class="col-md-12">
        <form asp-action="CreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostDashboard(this, '#tableInModal');" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input id="amountinput" asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <select asp-for="Category" class="form-control category-select" asp-items="@(new SelectList(ViewBag.CategoryList,"Name","Name"))"></select>
                        <span asp-validation-for="Category"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Date" class="control-label" id="startDate" onmouseover="showStartDateTooltip()" data-toggle="tooltip" data-placement="top" title="If you choose custom every > 1 week, better set Start Date on the first day you want to add this expense, otherwise first addition will be in chosen day after chosen number of weeks.">Start Date</label>
                        <input asp-for="Date" class="form-control date-input" />
                        <span asp-validation-for="Date"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control description-textarea"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select id="recurringSelect" class="form-control recurring-select" onchange="customField()" asp-for="Status" asp-items="Html.GetEnumSelectList<StatusName>()"></select>
                        <span asp-validation-for="Status"></span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div id="customStatus" style="visibility:hidden;">
                        <label class="control-label"></label>
                        <div class="form-control every-weeks-control">
                            <label>Every</label>
                            <input id="focusableInput" type="number" min="1" max="999" style="width:2em;" asp-for="HowOften">
                            <label style="margin: 0 5px 0 5px;">Weeks</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-8" id="customStatusDays">
                    @for (int i = 0; i < 7; i++)
                    {
                        <label class="weekdayCheckbox">
                            @Html.CheckBoxFor(item => item.Weekdays[i], new { @style = "display:none;" })
                            <span>@ViewBag.Weekdays[i]</span>
                        </label>
                    }
                </div>
            </div>

            <div id="submitRecurring" class="form-group">
                <input type="submit" value="Submit" class="btn btn-outline-info"/>
            </div>
        </form>
    </div>
</div>

@if (Model.Id == 0)
{
    <script>
        $("#amountinput").val("");
        function customField() {
            var x = document.getElementById('customStatus');
            var y = document.getElementById('focusableInput');
            var z = document.getElementById('customStatusDays');
            if (document.getElementById('recurringSelect').value == 4) {
                x.style.visibility = "visible";
                y.required = true;
                z.style.visibility = "visible";
            }
            else {
                x.style.visibility = "hidden";
                y.required = false;
                z.style.visibility = "hidden";
            }
        }
        $(document).ready(function () {
            customField();
        });
        

        function showStartDateTooltip() {
            $('#startDate').tooltip('show');
        }
    </script>
}


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}