@model ExpenseRecurring

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<style>
    span {
        color: white;
        font-size: 15px;
    }

    #description-input {
        color: white;
        background-color: #6C757D;
        border-color: #6C757D;
    }
    span {
        color: black;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostDashboard(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input id="amountinput" asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <select asp-for="Category" style="height:38px;" asp-items="@(new SelectList(ViewBag.CategoryList,"Name","Name"))"></select>
                        <span asp-validation-for="Category"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input id="dateinput" asp-for="Date" style="height:38px;" class="form-control" />
                        <span asp-validation-for="Date"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea style="resize:none;height:90px;" id="description-input" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select id="recurringSelect" onchange="customField()" asp-for="Status" style="height:38px;" asp-items="Html.GetEnumSelectList<StatusName>()"></select>
                    <span asp-validation-for="Status"></span>
                    <input id="customStatus" hidden asp-route-custom="" type="date" />
                </div>
    </div>

    <div class="form-group" style="margin-top:15px;text-align:right;">
        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
    </div>
    </form>
</div>
</div>

@if (Model.Id == 0)
{
    <script>
    @*$("#dateinput").val(@DateTime.Now.ToString("dd/MM/yyyy HH:mm");*@
        $("#amountinput").val("");
        function customField() {
            var x = document.getElementById('customStatus');
            if (document.getElementById('recurringSelect').value == 4) {
                x.hidden = false;
            }
            else {
                x.hidden = true;
            }
        }
    </script>
}


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}