<style>
    body {
        background-color: white;
        color: black;
    }
    /*#region table */

    .tableContainer {
        padding: 0;
        margin: 0;
        height: 400px;
        width: 700px;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-top: 6px solid #212529;
        border-bottom: 6px solid #212529;
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
    }

    thead.sticky-top {
        background-color: lightgray;
    }

    /*#endregion */


    /*#region pieChart */

    #pieFigure.highcharts-figure, .highcharts-data-table table {
        min-width: 320px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }


    input[type="number"] {
        min-width: 50px;
    }

    /*#endregion */
    

    /*#region mainLayout */

    .lineChartRow {
        float: left;
        height: 25%;
        width: 80%;
    }

    /*#endregion */
</style>
@section Styles{
    <link href="~/css/lineChart.css" rel="stylesheet" />
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="#">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="~/jss/lineChart.js"></script>
    <title></title>
</head>

<body>
    <div style="margin:20px;">
        <div class="lineChartRow">
            <figure id="lineFigure" class="highcharts-figure" style="height:300px;">
                <div id="container" style="height:300px;"></div>
            </figure>
        </div>

        <div class="column thirdColumn">

        </div>

        <div style="padding-top:320px;">
            <figure id="pieFigure" class="highcharts-figure" style="float:left;">
                <div id="container-pie"></div>
                <p class="highcharts-description">
                </p>
            </figure>

            <!-- #region tableDisplay -->
            <!--<div class="table-responsive tableContainer">
            <table class="table">
                <thead class="sticky-top">
                    <tr>
                        <th>
                            Amount
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Expenses)
                    {
                        <tr>
                            <td>
                                @item.Amount
                            </td>
                            <td>
                                @item.Category
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                @item.Date
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>-->

            <!-- #endregion -->
        </div>
        <div style="padding-top:320px;float:left;">

        </div>
    </div>
    


    <script>
        $(document).ready(function () {
            $.getJSON("Dashboard/GetData", function (result) {
                var cateData = [];
                $.each(result.categoryRatios, function (index, element) {
                    cateData.push({
                        name: element.categoryName,
                        y: parseFloat(element.categoryPercentage),
                    });
                }),

                Highcharts.chart('container-pie', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Categories in %'
                    },
                    exporting: {
                        enabled: false
                    },
                    //tooltip: {
                    //    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    //},
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        name: 'Category',
                        colorByPoint: true,
                        data: cateData
                    }]
                    //series: [{ /*HERE DATA IF PASS*/
                    //    name: 'Brands',
                    //    colorByPoint: true,
                    //    data: [{
                    //        /*name: result.categoryRatios[0].categoryName,*/
                    //        name: 'Category',
                    //        y: result.categoryRatios[0].categoryPercentage
                    //        //sliced: false,
                    //        //selected: false
                    //    },
                    //        {
                    //            /*name: result.categoryRatios[0].categoryName,*/
                    //            name: 'Category',
                    //            y: result.categoryRatios[1].categoryPercentage
                    //            //sliced: false,
                    //            //selected: false
                    //        }
                    //    ]
                    /*}]*/
                });

            });
        });

    </script>


    
</body>
</html>