<style>
    body {
        background-color: white;
        color: black;
    }
    /*#region table */
    .tableContainer {
        padding: 0;
        margin: 0;
        height: 400px;
        width: 700px;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-top: 6px solid #212529;
        border-bottom: 6px solid #212529;
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
    }

    thead.sticky-top {
        background-color: lightgray;
    }
    /*#endregion */
    

    /*#region mainLayout */
    .lineChartRow {
        float: left;
        height: 300px;
        width: 80%;
    }
    /*#endregion */

    .shadowDiv {
        box-shadow: 0 19px 38px rgba(0,0,0,0.20), 0 15px 12px rgba(0,0,0,0.22);
    }
        .shadowDiv:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.22);
        }


    /*#region statTable */

    tr {
        display: inline-block;  
    }

    
    /*#endregion */


</style>
@section Styles{
    <link href="~/css/lineChart.css" rel="stylesheet" />
    <link href="~/css/pieChart.css" rel="stylesheet" />
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="#">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="~/jss/lineChart.js"></script>
    <script src="~/jss/pieChart.js"></script>
    <title></title>
</head>

<body>
    <div style="height:100%;overflow:auto;">
        <div class="lineChartRow shadowDiv" style="margin:20px;">
            <figure id="lineFigure" class="highcharts-figure" style="height:300px;">
                <div id="container" style="height:300px;"></div>
            </figure>
        </div>

        <div class="column thirdColumn">

        </div>

        @*<div style="padding-top:320px;margin:0 0 0 20px;">
            <figure id="pieFigure" class="highcharts-figure shadowDiv" style="float:left;">
                <div id="container-pie"></div>
                <p class="highcharts-description">
                </p>
            </figure>

        </div>*@
        <div style="margin-left:20px;float:left;">
            <figure id="pieFigure" class="highcharts-figure shadowDiv" style="float:left;height:350px;">
                <div id="container-pie" style="height:350px;"></div>
                <p class="highcharts-description">
                </p>
            </figure>
        </div>
        <table class="table" style="float:left;width:712px;margin-left:20px;margin-top:16px;">
            <thead style="">
                <tr>
                    <td>Most used categories</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Expenses)
                {
                    <tr>
                        <td>
                            @item.Amount
                        </td>
                    </tr>
                }
            </tbody>
        </table>







</body>
</html>