<style>
    .tableContainer {
        padding: 0;
        margin: 0;
        height: 50%;
        width: 100%;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-top: 6px solid #212529;
        border-bottom: 6px solid #212529;
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
    }

    thead.sticky-top {
        background-color: lightgray;
    }
    .columns {
        float: left;
        padding: 0px;
        margin: 0px;
        position: fixed;
        height: 400px;
        width: 950px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30),
            0 15px 12px rgba(0,0,0,0.22);
    }
        .columns:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
        }
</style>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="#">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <title></title>
</head>

<body>
    <script src="~/jss/lineChart.js"></script>
    <div class="columns">
        <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description">

            </p>
        </figure>
    </div>



    @*//TABLE*@
    @*<div class="table-responsive tableContainer">
        <table class="table">
            <thead class="sticky-top">
                <tr>
                    <th>
                        Amount
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Expenses)
                {
                    <tr>
                        <td>
                            @item.Amount
                        </td>
                        <td>
                            @item.Category
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.Date
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@
</body>
</html>