@model IEnumerable<Expense>

@{
    ViewData["Title"] = "List of Expenses";
}



@section Styles {
    <link href="~/css/LayoutCSS/List.css" rel="stylesheet" />
}

<div id="view-all" class="table-responsive tableContainer">
    @await Html.PartialAsync("_ViewAll", Model)
</div>
