html {
    overflow: hidden;
}

.modal-backdrop {
    z-index: -1;
}

.wholeList {
    height: 100%;
    display: flex;
    justify-content: space-between;
}



#listCol {
    margin: 0.3rem;
    border: 3px solid var(--text-primary);
    border-radius: 5px;
    height: 100%;
    padding: 0;
    overflow-y: auto;
}

    #listCol::-webkit-scrollbar {
        display: block;
        width: 3px;
        background-color: var(--text-primary);
    }

    #listCol::-webkit-scrollbar-track-piece:start {
        margin-top: 2.9375rem;
        scrollbar-track-color: red;
    }

    #listCol::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-primary);
    }


@media only screen and (max-width: 1084px) {
    .navbar-side {
        width: 100vw !important;
        height: 5rem !important;
        bottom: 0 !important;
    }

    .navbar-nav-side {
        flex-direction: row;
    }

    .nav-side-link {
        justify-content: center;
    }

    .nav-side-item {
        width: 20vw !important;
    }

    main {
        margin: 0 !important;
        margin-bottom: 5rem !important;
    }

    .goldcapLogo {
        display: none;
    }

    .link-text {
        display: none !important;
    }

    .wholeList {
        padding-bottom: 1rem;
    }

    #listCol {
        width: 100%;
    }

    .navbar-top {
        display: none;
    }
}

.tip-pill {
    display: none;
}

@media only screen and (min-width: 1085px) {
    /*#region Basic */

    .navbar-side {
        width: 14rem;
        height: 100vh;
        top: 0;
    }

    .goldcapLogo-text {
        display: inline;
    }

    .navbar-side:hover {
        width: 14rem !important;
    }

        .navbar-side:hover .link-text {
            display: inline !important;
        }

        .navbar-side:hover .goldcapLogo i {
            display: none !important;
        }

        .navbar-side:hover ~ .navbar-top {
            z-index: -1;
        }

    .navbar-top {
        display: flex;
    }

    main {
        margin-top: 4rem;
    }

    .nav-side-item:last-child {
        margin-top: auto;
    }
    /*#endregion */

    #listCol {
        width: 60%;
    }

    .tip-pill {
        border: 0.2rem solid var(--text-primary);
        border-radius: 0.3rem;
        width: 25rem;
        height: 5rem;
        margin: 0.3rem;
        display: flex;
        flex-direction: row;
        background-color: var(--text-primary);
        align-items: center;
        color: var(--text-third);
        justify-content: center;
    }
    .tip-pill h1 {
        background-color: var(--text-primary);
    }
    .tip-pill i{
        font-size: 2.5rem;
    }
    .tip-pill p {
        margin: 0 1rem;
    }

}

@media only screen and (max-width: 480px) {
    #listCol {
        min-width: 12.5rem;
        width: 100%;
    }

    .categoryName {
        width: 4rem;
    }
}

input[type=text] {
    border: 1px solid var(--bg-primary);
    border-radius: 0.5rem;
    background-color: var(--bg-primary);
    text-align: center;
    outline: none;
    color: white;
    margin: 0 1rem;
}

    input[type=text]:focus {
        border-color: var(--bg-third);
    }

#submitBtn-category {
    min-width: 3.6rem;
    font-weight: normal;
}

#createform {
    text-align: right;
    display: flex;
    justify-content: end;
    align-content: center;
}

.categoryValidation {
    margin-right: 0.3125rem;
    font-size: 0.75rem;
    color: var(--bg-third);
}



