@model HomeViewModel
@inject SignInManager<ApplicationUser> signInManager;

@{
    Layout = null;
    ViewData["Title"] = "GoldCap";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        html {
            scroll-behavior: smooth;
        }

            html::-webkit-scrollbar {
                display: block;
                width: 0;
                scroll-behavior: smooth;
            }

        body {
            font-family: Arial;
            background-color: #212529;
            color: #9ba6b0;
            margin: 0;
            padding: 0;
            overflow: hidden scroll;
            scroll-behavior: smooth;
        }

            body::-webkit-scrollbar {
                display: none;
            }

        nav.navbar {
            padding: 0;
            opacity: 0;
            -webkit-animation: showNavbar 0.3s ease forwards;
            -webkit-animation-delay: 0.6s;
            animation: showNavbar 0.3s ease forwards;
            animation-delay: 0.6s;
        }

        @@keyframes showNavbar {
            to {
                opacity: 1;
            }
        }

        #topNavbar.container-fluid {
            margin: 0;
            padding: 6px 12px;
            justify-content: right;
            background-color: hsl(210, 11%, 18%);
        }

        .signInButton {
            font-weight: bold;
            transition: all 0.3s ease;
            background-color: transparent;
            border-radius: 55px;
            display: inline-block;
            z-index: 0;
            position: relative;
            overflow: hidden;
        }

            .signInButton:hover {
                color: #212529;
            }

                .signInButton:hover:after {
                    width: 100%;
                }

            .signInButton:after {
                content: "";
                z-index: -1;
                position: absolute;
                transition: all 0.3s ease;
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                background-color: #0DCAF0;
            }

        .main {
            width: 100%;
            height: calc(100vh * 3);
        }


            .main section {
                height: 100vh;
                width: 100%;
                justify-content: center;
                text-align: center;
                align-items: center;
                top: 0;
                left: 0;
                right: 0;
                display: flex;
            }

        .first-section {
            background-color: #212529;
        }

        .second-section {
            background-color: hsl(210, 11%, 18%);
        }


        .section-col {
            width: 50%;
            height: 100vh;
            text-align: center;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            padding: 0 25vh;
        }

        p.main-description {
            font-weight: bold;
            font-size: 30px;
            color: white;
            margin: auto 0;
            opacity: 0;
            -webkit-animation: slide-text-1 0.3s ease forwards;
            -webkit-animation-delay: 0.6s;
            animation: slide-text-1 0.3s ease forwards;
            animation-delay: 0.6s;
            cursor: default;
        }

        @@keyframes slide-text-1 {
            to {
                opacity: 1;
            }
        }

        a.startNow {
            margin-left: 20px;
            margin-top: 20px;
            min-width: 150px;
        }


        #firstImageBackground {
            border: 3px solid;
            border-color: #0DCAF0;
            margin: 100px -2000px 0 0;
            z-index: 5;
            position: absolute;
            background-color: #212529;
            -webkit-animation: slide1 0.3s ease forwards;
            -webkit-animation-delay: 0.8s;
            animation: slide1 0.3s ease forwards;
            animation-delay: 0.8s;
        }

        @@keyframes slide1 {
            to {
                margin: 100px 200px 0 0;
            }
        }

        #firstImageBackground:hover #firstImage {
            -webkit-animation: imgHoverIn 0.2s ease forwards;
        }

        #firstImageBackground:hover {
            z-index: 10;
        }

        #firstImage {
            border: 2px solid #0DCAF0;
            -webkit-animation: imgHoverOut 0.2s ease forwards;
            position: relative;
            z-index: 6;
        }

        #secondImageBackground {
            border: 3px solid;
            border-color: #0DCAF0;
            margin: -200px -2000px 0 0;
            z-index: 3;
            position: absolute;
            background-color: #212529;
            -webkit-animation: slide2 0.3s ease forwards;
            -webkit-animation-delay: 0.7s;
            animation: slide2 0.3s ease forwards;
            animation-delay: 0.7s;
        }

        @@keyframes slide2 {
            to {
                margin: -200px 50px 0 0;
            }
        }

        #secondImageBackground:hover #secondImage {
            -webkit-animation: imgHoverIn 0.2s ease forwards;
        }

        #secondImageBackground:hover {
            z-index: 10;
        }

        #secondImage {
            border: 2px solid #0DCAF0;
            -webkit-animation: imgHoverOut 0.2s ease forwards;
            position: relative;
            z-index: 4;
        }

        #thirdImageBackground {
            border: 3px solid;
            border-color: #0DCAF0;
            margin: -100px -2000px 0 0;
            z-index: 1;
            position: absolute;
            background-color: #212529;
            -webkit-animation: slide3 0.3s ease forwards;
            -webkit-animation-delay: 0.6s;
            animation: slide3 0.3s ease forwards;
            animation-delay: 0.6s;
        }

        @@keyframes slide3 {
            to {
                margin: -100px 50px 0 0;
            }
        }

        #thirdImageBackground:hover #thirdImage {
            -webkit-animation: imgHoverIn 0.2s ease forwards;
        }

        #thirdImageBackground:hover {
            z-index: 10;
        }

        #thirdImage {
            border: 2px solid #0DCAF0;
            -webkit-animation: imgHoverOut 0.2s ease forwards;
            z-index: 2;
            position: relative;
        }

        @@keyframes imgHoverIn {
            from {
                transform: translate(0, 0);
            }

            to {
                transform: translate(-25px, 25px);
                border: 2px solid #0DCAF0;
                z-index: 10;
            }
        }

        @@keyframes imgHoverOut {
            from {
                transform: translate(-25px, 25px);
                border: 2px solid #0DCAF0;
                z-index: 10;
            }

            to {
                transform: translate(0, 0);
            }
        }

        /*#region DIV STRIPES */

        .background-stripe-1 {
            position: absolute;
            z-index: 0;
            width: 150px;
            height: 600%;
            background-color: hsl(210, 11%, 18%);
            transform: translate(-800px, 0) rotate(-45deg);
            opacity: 0.4;
        }

        .background-stripe-2 {
            position: absolute;
            z-index: 0;
            width: 150px;
            height: 600%;
            background-color: #434D56;
            transform: translate(-700px, 0) rotate(-45deg);
            opacity: 0.4;
        }

        .background-stripe-3 {
            position: absolute;
            z-index: 0;
            width: 150px;
            height: 600%;
            background-color: hsl(210, 11%, 18%);
            transform: translate(-500px, 0) rotate(-45deg);
            opacity: 0.4;
        }

        .background-stripe-4 {
            position: absolute;
            z-index: 0;
            width: 150px;
            height: 600%;
            background-color: #434D56;
            transform: translate(-400px, 0) rotate(-45deg);
            opacity: 0.4;
        }

        .background-stripe-5 {
            position: absolute;
            z-index: 0;
            width: 150px;
            height: 500%;
            background-color: hsl(210, 11%, 18%);
            transform: translate(500px, 0) rotate(-45deg);
            opacity: 0.4;
        }

        .background-stripe-6 {
            position: absolute;
            z-index: 1;
            width: 150px;
            height: 200%;
            background-color: #0DCAF0;
            transform: translate(1600px, 0) rotate(-45deg);
            opacity: 1;
            -webkit-animation: slide-stripe-1 0.3s ease forwards;
            -webkit-animation-delay: 0.6s;
            animation: slide-stripe-1 0.3s ease forwards;
            animation-delay: 0.6s;
        }

        .background-stripe-7 {
            position: absolute;
            z-index: 0;
            width: 150px;
            height: 500%;
            background-color: hsl(210, 11%, 18%);
            transform: translate(700px, 0) rotate(-45deg);
            opacity: 0.4;
        }

        .background-text-1 {
            position: absolute;
            z-index: 1;
            opacity: 0;
            transform: translate(-400px, -300px);
            font-size: 240px;
            font-weight: bold;
            line-height: 240px;
            color: white;
            -webkit-animation: goldcapText 0.3s ease forwards;
            -webkit-animation-delay: 0.6s;
            animation: goldcapText 0.3s ease forwards;
            animation-delay: 0.6s;
        }
        .animatedLetter {
            display: inline-block;
        }
        .animatedLetter:hover {
            -webkit-animation: letterHover 0.3s ease;
            animation: letterHover 0.3s ease;
        }
        @@keyframes letterHover {
            50% {
                transform: scaleX(0.8)
            }

            70% {
                transform: scaleX(1.2)
            }

            90% {
                transform: scaleX(0.9)
            }

            100% {
                transform: scaleX(1)
            }
        }

        @@keyframes goldcapText {
            100% {
                opacity: 0.2;
            }
        }

        @@keyframes slide-stripe-1 {
            to {
                transform: translate(600px, 0) rotate(-45deg);
            }
        }

        .background-stripe2-6 {
            position: absolute;
            z-index: 0;
            width: 150px;
            height: 600%;
            background-color: #0DCAF0;
            transform: translate(-600px, 0) rotate(-45deg);
            opacity: 1;
        }

        #firstImageBackground2 {
            border: 3px solid;
            border-color: #0DCAF0;
            margin: 0 2000px 0 0;
            z-index: 5;
            position: absolute;
            background-color: #212529;
            -webkit-animation: slide1 0.3s ease forwards;
            -webkit-animation-delay: 0.8s;
            animation: slide1 0.3s ease forwards;
            animation-delay: 0.8s;
        }

        @@keyframes slide1 {
            to {
                margin: 0 -200px 0 0;
            }
        }

        #firstImageBackground2:hover #firstImage2 {
            -webkit-animation: imgHoverIn2 0.2s ease forwards;
        }


        #firstImageBackground2:hover {
            z-index: 10;
        }

        #firstImage2 {
            border: 2px solid #0DCAF0;
            -webkit-animation: imgHoverOut2 0.2s ease forwards;
            position: relative;
            z-index: 6;
        }

        @@keyframes imgHoverIn2 {
            from {
                transform: translate(0, 0);
            }

            to {
                transform: translate(60px, 25px) scale(1.5);
                border: 2px solid #0DCAF0;
                z-index: 10;
                cursor: crosshair;
            }
        }

        @@keyframes imgHoverOut2 {
            from {
                transform: translate(60px, 25px) scale(1.5);
                border: 2px solid #0DCAF0;
                z-index: 10;
            }

            to {
                transform: translate(0, 0) scale(1);
            }
        }
        /*#endregion */
        body.prevent-animation * {
            animation-duration: 0s !important;
            -webkit-animation-duration: 0s !important;
            transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
        }
    </style>

    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body class="prevent-animation">
    <div class="main">
        <nav class="navbar navbar-dark bg-dark sticky-top">
            <div id="topNavbar" class="container-fluid">
                <a asp-action="login" asp-controller="account" class="btn btn-outline-info signInButton">Sign in</a>
            </div>
        </nav>

        <section class="first-section">
            <div class="background-stripe-1"></div>
            <div class="background-stripe-2"></div>
            <div class="background-stripe-3"></div>
            <div class="background-stripe-4"></div>
            <div class="background-stripe-5"></div>
            <div class="background-stripe-6"></div>
            <div class="background-stripe-7"></div>
            <div class="background-text-1 animatedLogoText">GoldCap</div>
            <div class="section-col">
                <p class="main-description">
                    Make your own expenses history, manage them daily and check overall statistics. All by yourself.
                    <a asp-action="register" asp-controller="account" class="btn btn-outline-info signInButton startNow">Start Now</a>
                </p>
            </div>
            <div class="section-col">
                <div id="firstImageBackground">
                    <div id="firstImage">
                        <img src="~/images/dashboard.png" alt="Dashboard view" width="678" height="349" />
                    </div>
                </div>

                <div id="secondImageBackground">
                    <div id="secondImage">
                        <img src="~/images/categoryList.png" alt="List view" width="279" height="349" />
                    </div>
                </div>

                <div id="thirdImageBackground">
                    <div id="thirdImage">
                        <img src="~/images/list.png" alt="List view" width="678" height="349" />
                    </div>
                </div>
            </div>

        </section>
        <section class="second-section">
            <div class="background-stripe2-6"></div>
            <div class="section-col">
                <div id="firstImageBackground2">
                    <div id="firstImage2">
                        <img src="~/images/list2.png" alt="List view" width="842" height="432" />
                    </div>
                </div>
            </div>
            <div class="section-col">
                <p id="description2" class="main-description">
                    Gain complete control on your finances and save important informations about specific expenses.
                </p>
            </div>
        </section>

        <section class="third-section">

        </section>
    </div>

</body>
</html>
<script>
    setTimeout(function () {
        document.body.className = "";
    }, 500);

    function changeTextToCharacters() {
        var sentences = $('.animatedLogoText');

        sentences.each(function () {
            var txt = $(this);
            var newHtml = '';


            for (i = 0; i < txt.text().length; i++) {
                var substring = txt.text().substr(i, 1);

                if (substring != " ") {
                    newHtml += '<span class="animatedLetter">' + substring + '</span>';
                }
                else {
                    newHtml += substring;
                }
            }

            txt.html(newHtml);
        });
    }

    changeTextToCharacters();
</script>
