@model HomeViewModel
@inject SignInManager<ApplicationUser> signInManager;

@{
    Layout = null;
    ViewData["Title"] = "GoldCap";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/HomeCSS/Index.css" rel="stylesheet" />
    <style>
    </style>

    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body class="prevent-animation">
    <div class="main">
        <nav class="navbar navbar-top sticky-top">
            <div id="topNavbar" class="container-fluid">
                <a asp-action="login" asp-controller="account" class="btn btn-outline-info signInButton">Sign in</a>
            </div>
        </nav>

        <section class="first-section">
            <p class="goldcapTitleXL">GoldCap</p>
            <div class="first-section-left">
                <p class="goldcapTitle">GoldCap</p>
                Make your own expenses history, manage them daily and check overall statistics. All by yourself.
                <p><a asp-action="register" asp-controller="account" class="btn btn-outline-info signInButton startNow">Start Now</a></p>
            </div>
            <div class="first-section-right">
                <div class="ImageContainer firstImg">
                    <div id="firstImageBackground">
                        <div id="firstImage">
                            <img src="~/images/dashboard.png" alt="Dashboard view" class="dashboardImgXL" />
                        </div>
                    </div>

                    <p class="textToImage imgFirstText">Everything you need to know about your spendings in the intuitive dashboard panel.</p>
                </div>
                <div class="ImageContainer secondImg">
                    <div id="secondImageBackground">
                        <div id="secondtImage">
                            <img src="~/images/list.png" alt="List view" class="dashboardImgXL" />
                        </div>
                    </div>

                </div>
                <div class="ImageContainer thirdImg">
                    <div id="thirdImageBackground">
                        <div id="thirdImage">
                            <img src="~/images/categoryList.png" alt="Cateogory list view" class="dashboardImgXL" />
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="first-section">
            <div class="first-section-left">
                    <div class="ImageContainer">
                        <img src="~/images/list.png" alt="List view" class="dashboardImgXL" />

                        <p class="textToImage">You can add, edit or delete expense you want at any time, thanks to the complete list.</p>
                    </div>
            </div>
            <div class="first-section-right">
                    <div class="ImageContainer">
                        <div class="features-left">
                            <i class="fas fa-tachometer-alt"></i>
                            <p>Intuitive dashboard</p>
                            <i class="fas fa-chart-line"></i>
                            <p>Useful charts</p>
                            <i class="far fa-calendar-alt"></i>
                            <p>Recurring expenses</p>
                        </div>
                    </div>
            </div>
        </section>

        <footer class="footer-home">
            <div class="authorText">
                <p>Author:</p>
                <p>Jakub Czelusta</p>
            </div>
            <a>Support</a>
            <div class="socialLinks">
                <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-linkedin"></i></a>
            </div>
        </footer>

        @*<section class="first-section">
                <div class="goldcapTitle">GoldCap</div>
                <div class="first-section-left">
                    Make your own expenses history, manage them daily and check overall statistics. All by yourself.
                    <p><a asp-action="register" asp-controller="account" class="btn btn-outline-info signInButton startNow">Start Now</a></p>
                </div>
                <div class="first-section-right">
                    Make your own expenses history, manage them daily and check overall statistics. All by yourself.
                    <p><a asp-action="register" asp-controller="account" class="btn btn-outline-info signInButton startNow">Start Now</a></p>

                </div>

            </section>*@


    </div>

</body>
</html>
<script>
    setTimeout(function () {
        document.body.className = "";
    }, 500);

    //function addAnimation() {
    //    document.getElementsByClassName('textToImage')[0].style.animation = "slideUp-1 0.3s ease forwards";
    //    document.getElementsByClassName('textToImage')[0].style.animationDelay = "0.3s";
    //    document.getElementsByClassName('textToImage')[0].style.webkitAnimation = "slideUp 0.3s ease forwards";
    //    document.getElementsByClassName('textToImage')[0].style.webkitAnimationDelay = "0.3s";
    //}

    //var loadedImg = false;
    //$(window).scroll(function () {
    //    console.log(scrollY);
    //    if (scrollY >= 700 && scrollY < 1600) {
    //        addAnimation();
    //    }
    //});


    //function changeTextToCharacters() {
    //    var sentences = $('.animatedLogoText');

    //    sentences.each(function () {
    //        var txt = $(this);
    //        var newHtml = '';


    //        for (i = 0; i < txt.text().length; i++) {
    //            var substring = txt.text().substr(i, 1);

    //            if (substring != " ") {
    //                newHtml += '<span class="animatedLetter">' + substring + '</span>';
    //            }
    //            else {
    //                newHtml += substring;
    //            }
    //        }

    //        txt.html(newHtml);
    //    });
    //}

    /*changeTextToCharacters();*/




    //function textToSide(back, element) {
    //    if (back) {
    //        var d2 = document.getElementById('description2');
    //        d2.style.maxWidth = "";
    //        d2.style.transform = "translate(0, 0)";
    //        d2.style.transitionDuration = "0.5s";
    //        d2.textContent = "Gain complete control on your finances and save important informations about specific expenses.";
    //    }
    //    else if (element.id == 'firstImageBackground2')
    //    {
    //        var d2 = document.getElementById('description2')
    //        d2.style.maxWidth = "400px";
    //        d2.style.transform = "translate(100px, 0)";
    //        d2.style.transitionDuration = "0.5s";
    //    }
    //    else {
    //        var d2 = document.getElementById('description2')
    //        d2.textContent = "Monitor your spendings with intuitive dashboard.";
    //        d2.style.maxWidth = "400px";
    //        d2.style.transform = "translate(100px, 0)";
    //        d2.style.transitionDuration = "0.5s";

    //    }
    //}
    /*$('body').addClass('stop-scrolling');*/
    //window.addEventListener('wheel', function (event) {
    //    var vh = document.getElementById("firstSection").clientHeight;
    //    console.log(vh);
    //    if (event.deltaY > 0) {
    //        window.scrollBy(0, vh/3);
    //    }
    //    else if (event.deltaY < 0) {
    //        window.scrollBy(0, -vh/3);
    //    }
    //});

</script>
