@model CategoryListViewModel

@{
    ViewData["Title"] = "List of Categories";
}

<style>
    html {
        overflow: hidden;
    }

    .modal-backdrop {
        z-index: -1;
    }

    .wholeList {
        height: 100%;
        display: flex;
    }



    #listCol {
        margin: 0.3rem;
        border: 3px solid var(--text-primary);
        border-radius: 5px;
        height: 100%;
        padding: 0;
        overflow-y: auto;
    }

        #listCol::-webkit-scrollbar {
            display: block;
            width: 3px;
            background-color: var(--text-primary);
        }

        #listCol::-webkit-scrollbar-track-piece:start {
            margin-top: 2.9375rem;
            scrollbar-track-color: red;
        }

        #listCol::-webkit-scrollbar-thumb {
            background-color: var(--scrollbar-primary);
        }


    @@media only screen and (max-width: 1084px) {
        .navbar-side {
            width: 100vw !important;
            height: 5rem !important;
            bottom: 0 !important;
        }

        .navbar-nav-side {
            flex-direction: row;
        }

        .nav-side-link {
            justify-content: center;
        }

        main {
            margin: 0 !important;
            margin-bottom: 5rem !important;
        }

        .goldcapLogo {
            display: none;
        }

        .link-text {
            display: none !important;
        }

        .wholeList {
            padding-bottom: 1rem;
        }

        #listCol {
            width: 100%;
        }

        .navbar-top {
            display: none;
        }
    }

    @@media only screen and (min-width: 1085px) {
        /*#region Basic */

        .navbar-side {
            width: 14rem;
            height: 100vh;
            top: 0;
        }

        .goldcapLogo-text {
            display: inline;
        }

        .navbar-side:hover {
            width: 14rem !important;
        }

            .navbar-side:hover .link-text {
                display: inline !important;
            }

            .navbar-side:hover .goldcapLogo i {
                display: none !important;
            }

            .navbar-side:hover ~ .navbar-top {
                z-index: -1;
            }

        .navbar-top {
            display: flex;
        }

        main {
            margin-top: 4rem;
        }
        /*#endregion */

        #listCol {
            width: 60%;
        }
    }

    @@media only screen and (max-width: 480px) {
        #listCol {
            min-width: 12.5rem;
            width: 100%;
        }

        .categoryName {
            width: 4rem;
        }
    }

    input[type=text] {
        border: 1px solid var(--bg-primary);
        border-radius: 0.5rem;
        background-color: var(--bg-primary); 
        text-align: center;
        outline: none;
        color: white;
        margin: 0 1rem;
    }

        input[type=text]:focus {
            border-color: var(--bg-third);
        }

    #submitBtn-category {
        min-width: 3.6rem;
        font-weight: normal;
    }

    #createform {
        text-align: right;
        display: flex;
        justify-content: end;
        align-content: center;
    }

    .categoryValidation {
        margin-right: 0.3125rem;
        font-size: 0.75rem;
        color: var(--bg-third);
    }
</style>


<body class="">
    <div class="wholeList">
        <div id="listCol" class="table-responsive">
            <table class="table table-hover">
                <thead class="sticky-top">
                    <tr class="align-text-top">
                        <th>
                            <a style="cursor:pointer;" onclick="ListSort('@Url.Action("Sort", "Categories", new { sortOrder = (ViewBag.CategorySortParm == null ? "Category" : ViewBag.CategorySortParm)}, Context.Request.Scheme)','Sort')">Category</a>
                        </th>
                        <th>
                            <form id="createform" asp-action="Create" asp-route-id="@Model.Category.Id">
                                <input type="hidden" asp-for="Category.Id" />
                                <span class="categoryValidation" asp-validation-for="Category.Name"></span>
                                <input class="categoryName" asp-for="Category.Name" />
                                <input id="submitBtn-category" type="submit" value="Add" class="btn btn-success btn-sm" />
                            </form>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td align="right">
                                <a class="btn btn-danger btn-sm" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>



<script>
    ListSort = (url, refresh) => {
        try {
            $.ajax({
                type: 'POST',
                url: url,
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#view-all').html(res.html);
                },
                error: function (err) {
                    console.log(err)
                }
            })
            return false;
        } catch (ex) {
            console.log(ex)
        }
    };

    jQueryAjaxDeleteSort = (url) => {
        if (confirm('Are you sure to delete this record ?')) {
            var sortForm = document.getElementById('sortMenuForm');
            try {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: new FormData(sortForm),
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        $('#view-all').html(res.html);
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            } catch (ex) {
                console.log(ex)
            }
        }
        //prevent default form submit event
        return false;
    }
</script>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
}