@model CategoryListViewModel

@{
    ViewData["Title"] = "List of Categories";
}


<script src="~/jss/CategoriesJS/categoriesList.js"></script>
<body class="">
    <div class="wholeList">
        <div id="listCol" class="table-responsive">
            <table class="table table-hover">
                <thead class="sticky-top">
                    <tr class="align-text-top">
                        <th>
                            <a style="cursor:pointer;" onclick="ListSortCategories('@Url.Action("Sort", "Categories", new { sortOrder = (ViewBag.CategorySortParm == null ? "Category" : ViewBag.CategorySortParm)}, Context.Request.Scheme)','Sort')">Category</a>
                        </th>
                        <th>
                            <form id="createform" asp-action="Create" asp-route-id="@Model.Category.Id">
                                <input type="hidden" asp-for="Category.Id" />
                                <span class="categoryValidation" asp-validation-for="Category.Name"></span>
                                <input required class="categoryName" asp-for="Category.Name" />
                                <input id="submitBtn-category" type="submit" value="Add" class="btn btn-success btn-sm" />
                            </form>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td align="right">
                                <a class="btn btn-danger btn-sm" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tip-pill">
            <p><i class="far fa-question-circle"></i></p>
            <p>Add custom categories to differentiate between specific spendings</p>
        </div>
    </div>
</body>



<script>
</script>

