@model CategoryListViewModel

@{
    ViewData["Title"] = "List of Categories";
}


<style>
</style>

<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<div id="view-all" style="height: 100%; width: 100%;margin:0;padding:0;">
    @await Html.PartialAsync("_ViewAll", Model)
</div>
