:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --bg-primary: #212529;
    --bg-secondary: #2D3339;
    --bg-third: #0DCAF0;
    --bg-fourth: hsl(210, 11%, 18%);
    --text-primary: #434D56;
    --text-secondary: #9ba6b0;
    --bg-navbar: #2d3339;
    /**/
    --smallerCircle-color: #FFC759;
    --hr-primary: #5a6672;
    --scrollbar-primary: #0790ab;
    --smallerCircle-color-secondary: #DFF8EB;
    --smallerCircle-color-third: #68a4fd;
    --list-bg: #6C757D;
    --list-hover: #5f666d;
    --list-thead: #474d52;
    --list-btn-bg: #17A2B8;
    --list-btn-bg-hover: #138496;
    --text-third: white;
    --btn-succes: #1B998B;
    --btn-succes-hover: #136c62;
    --btn-info: #87BCDE;
    --btn-info-hover: #5fa7d3;
    --btn-danger: #DF2935;
    --btn-danger-hover: #c81e29;
    /*JS*/
    --piechart-border-color: #C9FBFF;
}

html {
    scroll-behavior: smooth;
}

    html::-webkit-scrollbar {
        display: block;
        width: 0;
        scroll-behavior: smooth;
    }

body {
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    margin: 0;
    padding: 0;
    overflow: hidden scroll;
    scroll-behavior: smooth;
}

    body::-webkit-scrollbar {
        display: none;
    }


main {
    width: 100%;
    height: 300vh;
}

nav.navbar {
    display: none;
    padding: 0;
    opacity: 0;
    -webkit-animation: showNavbar 0.3s ease forwards;
    -webkit-animation-delay: 0.6s;
    animation: showNavbar 0.3s ease forwards;
    animation-delay: 0.6s;
}

@keyframes showNavbar {
    to {
        opacity: 1;
    }
}

#topNavbar {
    /*margin: 0;
    justify-content: right;
    background-color: var(--bg-secondary);
    width: 100%;
    height: 6vh;
    align-items: center;*/
}




body.prevent-animation * {
    /*animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;*/
}


@media only screen and (min-width: 811px) {
    nav.navbar {
        display: flex;
    }
}






.signInButton {
    font-weight: 600;
    transition: all 0.3s ease;
    background-color: transparent;
    border-radius: 3vh;
    display: flex;
    z-index: 0;
    position: relative;
    overflow: hidden;
    height: 4.5vh;
    width: 6vw;
    line-height: 1.5vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.6vh;
    min-width: 6rem;
}


    .signInButton:hover {
        color: var(--bg-primary);
    }

        .signInButton:hover:after {
            width: 100%;
        }

    .signInButton::after {
        content: "";
        z-index: -1;
        position: absolute;
        transition: all 0.3s ease;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: var(--bg-third);
        line-height: 4.5vh;
    }

a.startNow {
}

.goldcapTitle {
    margin-bottom: 10vw;
    font-weight: 600;
    font-size: calc(4rem + 3vw);
}

.first-section {
    display: flex;
    height: 200vh;
    flex-direction: column;
}

.first-section-left {
    display: flex;
    z-index: 2;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 50%;
    font-size: calc(1.5rem + .3vw);
    margin: 0 5vw;
    text-align: center;
    word-wrap: break-word;
}

.first-section-right {
    display: flex;
    flex: 1;
    z-index: 2;
    align-items: center;
    justify-content: center;
    height: 50%;
    font-size: calc(1.5rem + .3vw);
    background-color: var(--bg-secondary);
}

.goldcapTitleXL {
    display: none;
    cursor: default;
    font-weight: 500;
}

@media only screen and (min-width: 811px) {
    nav.navbar {
        display: flex;
    }

    .first-section {
        flex-direction: row;
        height: 100vh;
    }

    .first-section-left {
        flex: 1;
        height: 100%;
    }

    .first-section-right {
        background-color: transparent;
        flex: 1;
        margin: 0 5vw;
        height: 100%;
    }

    .goldcapTitle {
        display: none;
    }

    .goldcapTitleXL {
        display: block;
        position: absolute;
        font-size: 12.5vw;
        top: 4vh;
        left: 2vw;
        opacity: 0.4;
        z-index: 2;
        text-shadow: 0.3vw 0.3vw var(--bg-secondary);
    }

    .goldcapTitleXL, .firstDescription, .signButtons {
        transform: translateX(-70vw);
        animation: slideFromLeft 0.4s ease-in-out forwards;
    }
    @keyframes slideFromLeft{
        to {
            transform: translateX(0);
        }
    }
    

    .imgFirstText {
        display: none;
    }


    #firstImageBackground {
        width: 100%;
        height: 100%;
        border: 2px solid var(--bg-third);
        animation: imgHoverOut 0.2s forwards;
    }

    .firstImg {
        margin-right: 4vw;
        margin-top: calc(4vw + 4vh);
        z-index: 5;
        position: absolute;
        width: 45vw;
        height: auto;
        
    }
        .firstImg:hover #firstImageBackground {
            animation: imgHoverIn 0.2s forwards;
        }

        .firstImg:hover {
            z-index: 10;
        }
    .ImageContainer {
        opacity: 0.2;
        animation: slideImg 0.5s ease-in-out forwards;
    }

    @keyframes slideImg {
        to {
            opacity: 1;
        }
    }

    #secondImageBackground {
        width: 100%;
        height: 100%;
        border: 2px solid var(--bg-third);
        display: block;
        animation: imgHoverOut 0.2s forwards;
    }

    .secondImg {
        z-index: 4;
        position: absolute;
        width: 45vw;
        height: auto;
        margin-top: 2vh;
        margin-left: 1vw;
    }
    

        .secondImg:hover #secondImageBackground {
            animation: imgHoverIn 0.2s forwards;
        }

        .secondImg:hover {
            z-index: 10;
        }

    #thirdImageBackground {
        width: 100%;
        height: 100%;
        border: 2px solid var(--bg-third);
        display: block;
        animation: imgHoverOut 0.2s forwards;
    }

    .thirdImg {
        z-index: 3;
        position: absolute;
        width: 25vw;
        height: auto;
        margin-bottom: 6vh;
    }

        .thirdImg:hover #thirdImageBackground {
            animation: imgHoverIn 0.2s forwards;
        }

        .thirdImg:hover {
            z-index: 10;
        }

    .categorylistImgXL {
        border: 1px solid var(--bg-third);
        aspect-ratio: 1/1;
        width: 100%;
        height: 100%;
    }

        .categorylistImgXL:hover {
            opacity: 1;
        }

    .firstDescription {
        font-size: 3.2vh;
    }

    .second-section {
        flex-direction: row;
        height: 100vh;
    }

    .second-section-left {
        flex: 1;
        height: 100%;
        background-color: var(--bg-secondary);
    }

    .second-section-right {
        background-color: var(--bg-primary);
        flex: 1;
        height: 100%;
    }

    .ImageContainer.fourthImg {
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

    .imageInSLider {
        width: 100%;
        height: 100%;
        transition: opacity 0.7s ease;
    }

    .hidden {
        opacity: 0;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }


    .imageSlider {
        width: 85vw;
        height: auto;
        max-height: 85vh;
        aspect-ratio: 21/10;
        border: 0.1vw solid var(--bg-third);
    }

    .features-left {
        flex-direction: row !important;
    }

    .singleFeature i {
        margin: 0 6vw;
    }

    .footer-home {
        background-color: var(--bg-secondary);
    }
        .footer-home a:hover {
            cursor: pointer;
        }

    .textToImage {
        font-size: 2.5vh;
    }

    .sliderItemsCheckboxes {
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: center;
    }

    .sliderItemBlop {
        border: 0.2vw solid var(--text-third);
        border-radius: 50%;
        width: 2vw;
        height: 2vw;
        margin: 0 0.5vw;
        transition: 0.2s;
    }

        .sliderItemBlop:last-child {
            background-color: transparent;
        }

        .sliderItemBlop:hover {
            background-color: var(--bg-third);
            cursor: pointer;
        }

        .sliderItemBlop.active {
            background-color: var(--text-third);
        }

    .features-left i {
        font-size: 10vw;
    }

    .features-left p {
        font-size: 3.5vh;
        text-align: center;
    }

    /*#region BackgroundStripes */

    .stripe-1 {
        background-color: var(--bg-third);
        z-index: 1;
        width: 9vw;
        transform: translateX(60vw) rotate(-45deg);
        height: 200%;
        margin-left: 80vw;
        margin-top: -55vh;
        opacity: 0.8;
        position: absolute;
        animation: slide 0.6s ease-in-out forwards;
    }

    .stripe-2 {
        background-color: var(--bg-secondary);
        z-index: 0;
        width: 9vw;
        transform: translateX(60vw) rotate(-45deg);
        height: 200%;
        margin-left: 80vw;
        margin-top: -45vh;
        opacity: 0.4;
        position: absolute;
        animation: slide 0.4s ease-in-out forwards;
    }

    .stripe-3 {
        background-color: var(--bg-secondary);
        z-index: 0;
        width: 9vw;
        transform: translateX(60vw) rotate(-45deg);
        height: 200%;
        margin-left: 80vw;
        margin-top: -65vh;
        opacity: 0.4;
        position: absolute;
        animation: slide 0.7s ease-in-out forwards;
    }

    .stripe-4 {
        background-color: var(--bg-primary);
        z-index: 0;
        width: 9vw;
        transform: translateX(60vw) rotate(-45deg);
        height: 200%;
        margin-left: 80vw;
        margin-top: -55vh;
        opacity: 0.6;
        position: absolute;
    }

    .stripe-5 {
        background-color: var(--bg-secondary);
        z-index: 0;
        width: 6.5vw;
        transform: translateX(-60vw) rotate(-45deg);
        height: 200%;
        margin-left: 1vw;
        margin-top: -45vh;
        opacity: 0.4;
        position: absolute;
        min-width: 6rem;
        animation: slide 0.5s ease-in-out forwards;
    }

    .stripe-6 {
        background-color: var(--bg-secondary);
        z-index: 0;
        width: 6.5vw;
        transform: translateX(-60vw) rotate(-45deg);
        height: 200%;
        margin-left: 18vw;
        margin-top: -50vh;
        opacity: 0.4;
        position: absolute;
        min-width: 6rem;
        animation: slide 0.4s ease-in-out forwards;
    }


    @keyframes slide {
        to {
            transform: translateX(0) rotate(-45deg);
        }
    }
    
    /*#endregion */

}

/*#region BackgroundStripes */

.stripes {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}






/*#endregion */


.second-section {
    display: flex;
    height: 200vh;
    flex-direction: column;
}

.second-section-left {
    display: flex;
    z-index: 2;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 50%;
    font-size: calc(1.5rem + .3vw);
    text-align: center;
    word-wrap: break-word;
}

.second-section-right {
    display: flex;
    flex: 1;
    z-index: 2;
    align-items: center;
    justify-content: center;
    /*height: 50%;*/
    font-size: calc(1.5rem + .3vw);
}

p.signButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.signButtons > * {
    margin: 0 1rem;
}




@media only screen and (max-width: 810px) {
    .dashboardImgXL {
        opacity: 0.6;
        transition: opacity 0.3s ease;
    }


    #secondImageBackground {
        display: none;
    }

    #thirdImageBackground {
        display: none;
    }

    .second-section-right {
        background-color: var(--bg-secondary);
    }

    .textToImage {
        margin: 10vh 5vw;
        font-size: calc(1.5rem + .3vw);
    }

    .ImageContainer.fourthImg {
        align-items: center;
        height: 100%;
    }

    .imageInSLider {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    .imageSlider {
        width: 100vw;
        height: auto;
        border: 1px solid var(--bg-third);
    }

    #sliderItem1 {
        display: none;
    }

    .features-left i {
        font-size: 16vh;
    }

    .features-left p {
        font-size: 3.5vh;
    }
}


.dashboardImgXL {
    border: 1px solid var(--bg-third);
    aspect-ratio: 21/10;
    width: 100%;
    height: 100%;
    opacity: 1;
}

    .dashboardImgXL:hover {
        opacity: 1;
    }

.ImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.textToImage {
    text-align: center;
    word-wrap: break-word;
    width: 80vw;
}



.features-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    

.singleFeature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 20vh;
    font-size: 2.5vh;
}

    .footer-home p {
        margin: 0;
    }

    .footer-home.socialLinks {
        display: flex;
    }

.socialLinks a {
    margin: 0 calc(0.2rem + 0.1vw);
}

    .socialLinks a:hover i {
        color: var(--text-primary);
    }

.socialLinks i {
    /*font-size: calc(2.5rem + 0.1vw);*/
    font-size: 4.5vh;
    transition: color 0.2s;
}

.authorText {
    display: flex;
    flex-direction: column;
    align-items: center;
}




@keyframes imgHoverIn {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-1vw, -1vw) scale(1.1);
        z-index: 10;
    }
}

@keyframes imgHoverOut {
    from {
        transform: translate(-1vw, -1vw) scale(1.1);
        z-index: 10;
    }

    to {
        transform: translate(0, 0);
    }
}
