.modal-backdrop {
    z-index: -1;
}

.modal-title {
    font-weight: bold;
}

.btn-close {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.modal-body, .modal-header, .modal-title, .modal-footer {
    font-family: Arial;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
}

.modal-content, modal-dialog {
    border: 3px solid var(--text-primary);
    border-radius: 5px;
}

.modal-header {
    border: none;
    border-bottom: 3px solid var(--text-primary);
    border-radius: 0;
}

input[type=text].modalInput, input[type=text].modalInput:focus, input[type=datetime-local].modalInput, input[type=datetime-local].modalInput:focus, select.modalInput, select.modalInput:focus {
    background-color: #2d3339;
    color: #9ba6b0;
    border-color: #0DCAF0;
    border-radius: 5px;
}

.description-textarea, .description-textarea:focus {
    background-color: var(--bg-navbar);
    color: #9ba6b0;
    resize: none;
    max-width: 135ch;
    border: 0.5px solid var(--bg-third);
    border-radius: 5px;
}

.category-select, .category-select:focus {
    background-color: var(--bg-navbar);
    color: var(--text-secondary);
    border: 0.5px solid var(--bg-third);
    border-radius: 5px;
}

select.category-select::-webkit-scrollbar {
    display: block;
    width: 3px;
    background-color: var(--text-primary);
}

select.category-select::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-primary);
}

div.btn-submit {
    text-align: right;
    margin-top: 0.9375rem;
}

    div.btn-submit .btn-outline-info {
        font-weight: normal;
    }
