@model IEnumerable<Expense>
    <head>
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </head>
<style>
    .tableColumn {
        background-color: #2d3339;
        color: #9ba6b0;
        padding: 0;
        border: 3px solid #434d56;
        border-radius: 5px;
    }
</style>


<div class="row" style="margin:20px 0 20px 20px;">
    <div class="col-6" id="view-all">
        @await Html.PartialAsync("_ViewAll", Model)
    </div>
    <div class="col">

    </div>
</div>