@model DashboardViewModel

@{

}




<html xmlns="http://www.w3.org/1999/xhtml">



<head>
    <style>
        body {
            overflow: hidden;
        }
        
    </style>
</head>

<body>
    <div class="mainDiv">
        <div class="row-first">
            <div class="statPill">
                <div class="pill-left">
                    <span>Highest expense</span>
                    <p class="pillAmount">555$</>
                </div>
                <div class="pill-right">
                    <p>Daily</p>
                    <p>01.09.2021 07:44</p>
                    <p>15,7% of 2223$</p>
                </div>
            </div>
            <div class="statPill">
                <div class="pill-left">
                    <span>Last expense</span>
                    <p class="pillAmount">15$</p>
                </div>
                <div class="pill-right">
                    <p>Daily</p>
                    <p>Monday, 20 September</p>
                    <input id="percentageArrowValue" type="hidden" value="-59.5" />
                    <p style="text-align:center;"><i id="arrowUp" hidden class="fas fa-arrow-up"></i><i id="arrowDown" hidden class="fas fa-arrow-down"></i><span id="arrowPercentage"> -59.5% </span><span> average</span></p>
                </div>
            </div>
            <div class="statPill">
                <div class="pill-left">
                    <span>Lowest expense</span>
                    <p class="pillAmount">10$</p>
                </div>
                <div class="pill-right">
                    <p>Daily</p>
                    <p>01.09.2021 07:44</p>
                    <p>0.3% of 2223$</p>
                </div>
            </div>
            <div class="statPill">
                <div class="pill-left">
                    <span>Lowest expense</span>
                    <p class="pillAmount">10$</p>
                </div>
                <div class="pill-right">
                    <p>Daily</p>
                    <p>01.09.2021 07:44</p>
                    <p>0.3% of 2223$</p>
                </div>
            </div>
        </div>




    </div>
</body>
</html>
<script>
    function navbarStartStyle() {
        document.getElementById("sideNavbar").style.width = "5rem";
        document.getElementById("logo-icon").style.display = "none";
        var links = document.getElementsByClassName("link-text");
        for (var i = 0; i < links.length; i++) {
            links[i].style.display = "inline";
        }
    }


    function hideSideNavbar() {
        var sideNavbarSize = document.getElementsByClassName("navbar-side")[0].offsetWidth;
        if (sideNavbarSize > 80) {
            document.getElementById("logo-icon").style.display = "block";
            document.getElementsByClassName("navbar-side")[0].style.width = "5rem";
            var links = document.getElementsByClassName("link-text");
            for (var i = 0; i < links.length; i++) {
                links[i].style.display = "none";
            }
            document.getElementsByTagName("main")[0].style.marginLeft = "5rem";
        }
        else {
            document.getElementById("logo-icon").style.display = "none";
            document.getElementsByClassName("navbar-side")[0].style.width = "14rem";
            var links = document.getElementsByClassName("link-text");
            for (var i = 0; i < links.length; i++) {
                links[i].style.display = "inline";
            }
            document.getElementsByTagName("main")[0].style.marginLeft = "14rem";
        }

    }
</script>
@*<i class="fas fa-chart-line"></i>
    <i class="fas fa-list"></i>
    <i class="fas fa-list-alt"></i>
    <i class="fas fa-sign-out-alt"></i>*@
