.p-statCircle {
    height: 150px;
    width: 150px;
    position: relative;
}

    .p-statCircle .circle {
        position: absolute;
        z-index: 6;
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }

    .p-statCircle .bar {
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-border-radius: 50%;
        background-color: transparent;
        clip: rect(0px, 150px, 150px, 75px);
    }

    .p-statCircle .smallerCircle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 173px;
        height: 173px;
        margin: -86.7px 0 0 -86.7px;
        background-color: #2d3339;
        z-index: 10;
        -webkit-border-radius: 50%;
        border: 1px solid #DFF8EB;
        padding-top: 10px;
    }

    .p-statCircle .circle .bar .progress {
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-border-radius: 50%;
        clip: rect(0px, 75px, 200px, 0px);
        background-color: #DFF8EB;
        z-index: 3;
    }
    .p-statCircle .smallerCircle p, .p-statCircle .smallerCircle p small {
        font-size: 18.7px;
        margin: 0 auto;
    }



.circle .p-left .progress {
    z-index: 4;
    animation: u-left 0.3s linear both;
}


.circle .p-right .progress {
    animation: u-right 0.3s linear both;
    animation-delay: 0.3s;
}

.circle .p-right {
    z-index: 3;
}

.p-statCircle .smallerCircle p {
    color: #9ba6b0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

    .p-statCircle .smallerCircle p.boldHeader {
        font-size: 26.7px;
        font-weight: bold;
    }

hr {
    border-top: 3px solid #5a6672;
    background-color: transparent;
    z-index: inherit;
    opacity: 1;
}
