:root {
    font-size: 16px;
    font-family: Arial;
    --bg-primary: #212529;
    --bg-secondary: #2D3339;
    --bg-third: #0DCAF0;
    --bg-fourth: hsl(210, 11%, 18%);
    --text-primary: #434D56;
    --text-secondary: #9ba6b0;
    --bg-navbar: #2d3339;
}

body {
    color: white;
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

main {
    margin-left: 14rem;
    padding: 0.2rem;
    transition: margin 0.2s ease;
}

.navbar-side {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    margin: 0;
    padding: 0;
    transition: width 0.2s ease;
    z-index: 3;
}


.navbar-nav-side {
    list-style: none;
    text-decoration: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    height: 100%;
}

.nav-side-link {
    color: white;
    height: 5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.6);
    transition: 0.6s;
}

    .nav-side-link:hover {
        filter: grayscale(0%) opacity(1);
        background-color: var(--bg-third);
        color: var(--bg-primary);
    }

.nav-side-item {
    width: 100%;
}

    .nav-side-item:last-child {
        margin-top: auto;
    }

.link-text {
    text-decoration: none;
    margin-left: 1rem;
}

.nav-side-link i {
    font-size: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.goldcapLogo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    color: var(--bg-third);
    background-color: var(--bg-secondary);
    letter-spacing: 0.2ch;
}

.goldcapLogo-text {
    text-align: center;
    display: none;
    position: absolute;
    transition: 0.6s;
    margin: 0 2.5rem;
    color: var(--bg-third);
}




.nav-side-link-logo {
    color: var(--bg-third);
    height: 5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.6);
    transition: 0.6s;
}

    .nav-side-link-logo:hover {
        filter: grayscale(0%) opacity(1);
        background-color: var(--bg-primary);
        color: var(--bg-third);
    }

    .nav-side-link-logo i {
        color: var(--bg-third);
        font-size: 2rem;
        min-width: 2rem;
        margin: 0 1.5rem;
        display: none;
    }
.navbar-top {
    position: fixed;
    background-color: var(--bg-secondary);
    margin: 0 0 0 14rem;
    padding: 0;
    top: 0;
    width: calc(100% - 14rem);
    height: 4rem;
    transition: all 0.2s ease;
}



#collapseSideNavbar {
    display: none;
    font-size: 3rem;
    margin-left: 0.5rem;
    transition: all 0.2s ease;
}


