.c-statCircle {
    height: 150px;
    width: 150px;
    position: relative;
    border: 1px solid #FFC759;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

    .c-statCircle .circle {
        position: absolute;
        z-index: 6;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        background-color: transparent;
    }

    .c-statCircle .bar {
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-border-radius: 100%;
        background-color: transparent;
        clip: rect(0px, 150px, 150px, 75px);
    }

    .c-statCircle .smallerCircle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 130px;
        height: 130px;
        margin: -65px 0 0 -65px;
        background-color: #2d3339;
        z-index: 10;
        -webkit-border-radius: 100%;
        border: 1px solid #FFC759;
        padding-top: 10px;
    }

    .c-statCircle .circle .bar .progress {
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-border-radius: 100%;
        clip: rect(0px, 75px, 200px, 0px);
        background-color: #FFC759;
        z-index: 3;
    }



.circle .c-left .progress {
    z-index: 4;
    animation: c-left 0.3s linear both;
}


.circle .c-right .progress {
    animation: c-right 0.3s linear both;
    animation-delay: 0.3s;
}

.circle .c-right{
    z-index: 3;
}

.c-statCircle .smallerCircle p {
    color: #9ba6b0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

    .c-statCircle .smallerCircle p.boldHeader {
        font-size: 20px;
        font-weight: bold;
    }

    hr {
        border-top: 3px solid #5a6672;
        background-color: transparent;
        z-index: inherit;
        opacity: 1;
    }


