body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    overflow: hidden;
}

.fa-arrow-up {
    color: red;
}

.fa-arrow-down {
    color: lawngreen;
}

.mainDiv {
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

div .u-statCircle, div .c-statCircle, div.p-statCircle {
    animation: circleShow 0.6s linear;
}

@keyframes circleShow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*#endregion */
.mainBody {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

    .mainBody::-webkit-scrollbar {
        display: block;
        width: 3px;
        background-color: var(--bg-secondary);
    }

    .mainBody::-webkit-scrollbar-track-piece:start {
        margin-top: 4rem;
    }

    .mainBody::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-primary);
    }


/*#region First row */
@media only screen and (min-width: 769px) {
    div .row-first {
        min-height: 7rem;
    }
    .statPill {
        min-width: 15.625rem;
        margin: 0.3rem 0.3rem;
    }
    .mainDiv-div {
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 768px) {
    div.row-first {
        margin: 0.3rem;
    }
    .statPill {
        margin: 0.3rem;
    }
    .mainDiv-div {
        width: 100%;
        height: 100%;
    }
}

div.row-first {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.statPill {
    border: 3px solid var(--text-primary);
    border-radius: 5px;
    background-color: var(--bg-secondary);
    padding: 0.2rem;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex: 1;
    font-size: clamp(1rem, 1.5vh, 3vh);
}

    .statPill:last-child {
        border-color: transparent;
        background-color: transparent;
    }

.pill-right p {
    text-align: center;
    margin: 0.2rem 0;
}

.pill-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0.2rem 0;
}

.pill-recurring {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    min-height: 3rem;
}

.pill-date-span {
    font-weight: bold;
    font-size: clamp(1.2rem, 1.5vh, 3vh);
}

p.pillAmount {
    font-size: clamp(2.2rem, 2vh, 3vh);
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.pill-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#btnWeek, #btnMonth, #btnYear {
    min-width: 4.5rem;
    margin: 0.1rem;
}

/*#endregion */

/*#region Second row */

.row-second {
    display: flex;
    /*justify-content: stretch;*/
    margin: 0.3rem;
    align-items: center;

}

#container {
    border: 3px solid var(--text-primary);
    border-radius: 5px;
    width: 100%;
    padding: 0;
    min-height: 22.5rem;
    height: 40vh;
}

#container-pie {
    border: 3px solid;
    border-color: transparent;
    border-radius: 5px;
    width: 100%;
    padding: 0;
    height: 40vh;
}

#areafigure {
    flex: 3 !important;
}

#pieFigure {
    flex: 1 !important;
}

#container, #container-pie {
    width: 100% !important;
}

@media only screen and (max-width: 1392px) {
    .mainBody {
        overflow-y: auto;
    }
}

@media only screen and (max-width: 1268px) {
    .row-second {
        flex-direction: column;
    }

    #areafigure, #pieFigure {
        width: 100%;
    }
    /*.incomeCircle, .topCategoryColumn, .stackedCircles, .tableColumn, .row-first, .row-second {
            margin-bottom: 0.5rem;
        }*/
    .stackedCircles {
        margin: 0.5rem 0.2rem !important;
    }

}

@media only screen and (max-width: 768px) {
    .mainBody::-webkit-scrollbar-track-piece:end {
        margin-bottom: 5rem;
    }

    .mainBody::-webkit-scrollbar-track-piece:start {
        margin-top: 0;
    }

    .row-first {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

/*#endregion */

.third-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tableColumn {
    flex: 3;
    margin: 0.3rem;
}

.stackedCircles {
    flex: 1;
    height: 100%;
    z-index: 1;
    font-size: clamp(1rem, 1.6vh, 1.6vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.topCategoryColumn {
    flex: 1;
    margin: 0.3rem;
}

.incomeCircle {
    flex: 1;
    height: 100%;
    z-index: 1;
    font-size: clamp(1.2rem, 2.2vh, 2.2vh);
    /*font-size: clamp(1rem, 1.6vh, 1.6vh);*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .navbar-side {
        width: 100vw !important;
        height: 5rem !important;
        bottom: 0 !important;
    }

    .navbar-nav-side {
        flex-direction: row;
    }

    .nav-side-link {
        justify-content: center;
    }

    main {
        margin: 0 !important;
        margin-bottom: 5rem !important;
    }
    

    .goldcapLogo {
        display: none;
    }

    .link-text {
        display: none !important;
    }

    .tableColumn {
        min-width: 100%;
        min-width: 80% !important;
    }

    .navbar-top {
        display: none;
    }

    .third-row {
        /*height: 120vh;*/
    }
}

@media only screen and (min-width: 769px) {
    .navbar-side {
        width: 14rem;
        height: 100vh;
        top: 0;
    }

    .goldcapLogo-text {
        display: inline;
    }

    .navbar-side:hover {
        width: 14rem !important;
    }

        .navbar-side:hover .link-text {
            display: inline !important;
        }

        .navbar-side:hover .goldcapLogo i {
            display: none !important;
        }

        .navbar-side:hover ~ .navbar-top {
            z-index: 2;
        }

        .navbar-side:hover .color-themes-btn {
            flex-direction: row !important;
        }

    .navbar-top {
        display: flex;
    }

    main {
        margin-top: 4rem;
    }

    #collapseSideNavbar {
        display: inline-block;
    }

    
}

@media only screen and (max-width: 464px) {
    .descriptionTd, .descriptionTh {
        display: none;
    }
}


/*@@media only screen and (max-width: 436px) {*/
/*.pill-left {
            flex: 0;
            display: none;
        }*/
/*}*/

#btnRecurring {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.2rem, 1.5vh, 3vh);
    background-color: var(--bg-secondary);
    border-color: var(--text-primary);
    color: var(--text-secondary);
}
    #btnRecurring:hover {
        background-color: var(--bg-third);
        color: var(--bg-primary);
    }