.topCategoryColumn {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 0;
    border: 3px solid var(--text-primary);
    border-radius: 5px;
    border-right: 1px solid transparent;
    overflow-x: hidden;
    height: 23.75rem;
    overflow-y: scroll;
    min-width: 14.6875rem;
}

    .topCategoryColumn thead tr {
        max-height: 2.5625rem;
    }
    #tableRowId {
        white-space: nowrap;
    }

.topCategoryColumn tbody td {
    height: 3rem;
}
.topCategoryColumn::-webkit-scrollbar {
    display: block;
    width: 3px;
    background-color: var(--text-primary);
}

    .topCategoryColumn::-webkit-scrollbar-track-piece:start {
        margin-top: 2.5rem;
        scrollbar-track-color: red;
    }

.topCategoryColumn::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-primary);
    border: 0.1px solid var(--scrollbar-primary);
    border-radius: 5px;
}
