.topCategoryColumn {
    background-color: #2D3339;
    color: #9ba6b0;
    padding: 0;
    border: 3px solid #434d56;
    border-radius: 5px;
    border-right: 1px solid transparent;
    overflow-x: hidden;
    height: 380px;
    overflow-y: scroll;
    min-width: 235px;
}

    .topCategoryColumn thead tr {
        max-height: 41px;
    }
    #tableRowId {
        white-space: nowrap;
    }

.topCategoryColumn tbody td {
    height: 48px;
}
    .topCategoryColumn::-webkit-scrollbar {
        display: block;
        width: 3px;
        background-color: #434d56;
    }

    .topCategoryColumn::-webkit-scrollbar-track-piece:start {
        margin-top: 40px;
        scrollbar-track-color: red;
    }

.topCategoryColumn::-webkit-scrollbar-thumb {
    background-color: #0790ab;
    border: 0.1px solid #0790ab;
    border-radius: 5px;
}
