.u-statCircle {
    height: 9.375rem;
    width: 9.375rem;
    position: relative;
    border-radius: 100%;
    margin: 0 auto;
}

    .u-statCircle .circle {
        position: absolute;
        z-index: 6;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        padding: 0;
        margin:0;
    }

    .u-statCircle .bar {
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-border-radius: 100%;
        background-color: transparent;
        clip: rect(0px, 9.375rem, 9.375rem, 4.6875rem);
    }

    .u-statCircle .smallerCircle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8.125rem;
        height: 8.125rem;
        margin: -4.0625rem 0 0 -4.0625rem;
        background-color: var(--bg-secondary);
        z-index: 10;
        -webkit-border-radius: 100%;
        border: 1px solid var(--smallerCircle-color-third);
        padding-top: 0.625rem;
    }

    .u-statCircle .circle .bar .progress {
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-border-radius: 100%;
        clip: rect(0px, 4.6875rem, 12.5rem, 0px);
        background-color: var(--bg-third);
        z-index: 3;
    }

    .u-statCircle .smallerCircle p, u-statCircle .smallerCircle p small {
        font-size: 0.875rem;
        margin: 0 auto;
    }


.circle .u-left .progress {
    z-index: 4;
    animation: u-left 0.3s linear both;
}


.circle .u-right .progress {
    animation: u-right 0.3s linear both;
    animation-delay: 0.3s;
}

.circle .u-right {
    z-index: 3;
}

.u-statCircle .smallerCircle p {
    color: var(--text-secondary);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

    .u-statCircle .smallerCircle p.boldHeader {
        font-size: 1.25rem;
        font-weight: bold;
    }

hr {
    border-top: 3px solid var(--hr-primary);
    background-color: transparent;
    z-index: inherit;
    opacity: 1;
}
